body {
  background-color:#252830;
  font-family: 'Ubuntu', sans-serif;
}

.headline {
  color: white;
}

.card {

  margin: 5px;

}

.container .app-body {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: flex;
}

.nav li, ul {
  width: fit-content;
  display: flex;
  flex-wrap: flex;
}

.nav a {
  display:flex;
  flex-wrap: flex;
}
